---
import BaseHead from "../components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
import ThemeSwitcher from "../components/ThemeSwitcher.astro"

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <BaseHead title={title} description={description} image={image} , ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
  </head>
  <body class="overflow-hidden">
    <div class="static">
      <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center">
        <ThemeSwitcher />
      </div>
       <div style="color: #ffffff" class="absolute top-20 left-10">
        <div class="-rotate-[45deg] text-9xl">3</div>
      </div>
      <div class="relative top-[100px] left-[150px]">
        <div style="color: oklch(var(--b1))" class="-rotate-[27deg]">Hey! You found the secret!</div>
      </div>

      <div style="color: #1d232a" class="absolute bottom-[19px] right-[10px]">
        <div class="rotate-[135deg]">The scholar’s sight sees all that’s past,<br>The final number—found at last.</div>
      </div>
    </div>
  </body>
</html>
