---
import BaseHead from "../components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
import ThemeSwitcher from "../components/ThemeSwitcher.astro"

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <BaseHead title={title} description={description} image={image} , ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
  </head>
  <body>
    <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center">
      <ThemeSwitcher />
    </div>
    <div style="color: #ffffff" class="absolute top-20 left-20">
      <div class="-rotate-[45deg]">Dark Mode Hint</div>
    </div>
    <div style="color: #1d232a" class="absolute bottom-20 right-20">
      <div />
      <div />
      <div class="rotate-[135deg]">Light Mode Hint</div>
    </div>
  </body>
</html>
